<?xml version="1.0" encoding="UTF-8"?>
<plugin id="com.interswitchng.sdk.payment" version="0.0.1"
     xmlns:android="http://schemas.android.com/apk/res/android">
    <name>PaymentPlugin</name>
    <description>Cordova Payment Plugin on Interswitch Platform</description>
    <license>Apache 2.0</license>
    <keywords>cordova,payment</keywords>
    <repo></repo>
    <issue></issue>

    <engines>
        <engine name="cordova" version=">=7.0.0" />
        <engine name="cordova-android" version=">=6.3.0" />
        <engine name="cordova-ios" version=">=4.4.0" />
    </engines>

    <js-module name="PaymentPlugin" src="www/PaymentPlugin.js">
        <clobbers target="PaymentPlugin" />
    </js-module>
    
    <!-- android -->
    <platform name="android">
    
    <preference name="CLIENT_ID" default="" />
    <preference name="CLIENT_SECRET" default="" />
    
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="PaymentPlugin" >
                <param name="android-package" value="PaymentPlugin"/>
            </feature>  
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <meta-data android:name="clientId" android:value="$CLIENT_ID" />
            <meta-data android:name="clientSecret" android:value="$CLIENT_SECRET" />
        </config-file>
        <edit-config file="AndroidManifest.xml" target="/manifest/application/activity[@android:name='MainActivity']" mode="overwrite">
            <activity android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale" android:label="@string/activity_name" android:launchMode="singleTop" android:name="MainActivity" android:theme="@style/Theme.AppCompat.Light" android:windowSoftInputMode="adjustResize" />
        </edit-config>
        <source-file src="src/android/PaymentPlugin.java" target-dir="src/" />
        <source-file src="src/android/PluginUtils.java" target-dir="src/" />
        <source-file src="src/android/PayWithOutUI.java" target-dir="src/" />
        <source-file src="src/android/PayWithUI.java" target-dir="src/" />
        <source-file src="src/android/PaymentCallback.java" target-dir="src/" />
        <source-file src="src/android/ValidateCardCallback.java" target-dir="src/" />
        <framework src="com.android.support:appcompat-v7:23.1.1" />
        <framework src="com.android.support:design:23.1.1" />
        <framework custom="true" src="src/android/build.gradle" type="gradleReference" />
        <resource-file src="libs/payment-android-release.aar"
            target="libs/payment-android-release.aar" />
        <resource-file src="libs/deviceprint-release-2.2.0.aar"
            target="libs/deviceprint-release-2.2.0.aar" />
        <resource-file src="libs/core.jar" target="libs/core.jar" />
        <resource-file src="libs/gson-2.3.1.jar" target="libs/gson-2.3.1.jar" />
        <resource-file src="libs/payment-1.0.0.jar" target="libs/payment-1.0.0.jar" />
    </platform>
    
    <platform name='ios'>
        <hook type="before_plugin_install" src="scripts/prepareCocoaPods.js" />
        <config-file target='config.xml' parent='/*'>
            <feature name='PaymentPlugin'>
                <param name='ios-package' value='PaymentPlugin'/>
            </feature>
        </config-file>
        <source-file src='src/ios/PaymentPlugin.swift'/>
        <source-file src='src/ios/PayWithUI.swift'/>
        <source-file src='src/ios/Utils.swift'/>

        <framework src="src/ios/Frameworks/PaymentSDK.framework" custom="true" embed="true"/>
        <framework src="CryptoSwift" type="podspec" spec="0.7.1" />
        <framework src="Alamofire" type="podspec" spec="4.4.0" />
        <framework src="SwiftyJSON" type="podspec" spec="3.1.4" />
        <framework src="OpenSSL-Universal" type="podspec" spec="1.0.2.10" />


        <preference name="UseSwiftLanguageVersion" value="4"/>
        <preference name="USESWIFTLANGUAGEVERSION" value="4" default="4"/>
        <dependency id="cordova-plugin-add-swift-support" url="https://github.com/akofman/cordova-plugin-add-swift-support"/>
    </platform>
    
    
</plugin>